<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>

<% if current_user.admin?  %>
<h4>"Merge Articles" </h4>
  <%= form_tag '/admin/content/merge',:action => "merge", :id => @article.id  do %>
    <%= label_tag 'article_id', 'Article ID' %>
    <%= text_field_tag 'merge_with' %>
    <%= submit_tag 'Merge' %>
    <%= hidden_field_tag 'id', params[:id]  %>
  <% end %>
<% end %>